@import '../../common/colors.scss';

.hero {

    margin-top: 85px;
    padding: 100px 0px 0px 0px;
    background-color: $background-color-primay;

    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .hero-body {
        max-width: 730px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        h1 {
            color: $primary-color;
        }

        h3 {
            color: #464343;  
        }
    }
    
    .hero-footer {
        margin-top: 20px;
        img {
            display: block;
            max-width: 860px;
            width: 100%;
        }
    }

}