@import '../../common/colors.scss';

.socialMedia {
    max-width: 730px;
    width: 100%;

    &-list {
        margin: 10px 0px;

        &-item {
            font-size: 16px;
            display: inline-block;
            margin-right: 18px;
            // border: 1px solid $primary-color;
            padding: 5px 11px;
            border-radius: 50%;
            background-color: $white-color;
            cursor: pointer;
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        }
    }

    i {
        color: $black-color;
        transition: all 0.1s ease-in;
    }
}

.socialMedia-list-item {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 0;
    left: -50%;
    font-size: 14px;
    background: $white-color;
    color: $black-color;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;

    &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #ffffff;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.2s ease-in;
    }
}

    
li:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    @media (max-width: 480px){
        top: 0;
        opacity: 0;
        visibility: hidden;
    }
}

// .item-LinkedIn:hover,
// .item-LinkedIn:hover .tooltip,
// .item-LinkedIn:hover i,
// .item-LinkedIn:hover .tooltip::before {
//     background-color: #0a66c2;
//     color: $white-color;
// }

// .item-GitHub:hover,
// .item-GitHub:hover .tooltip,
// .item-GitHub:hover i,
// .item-GitHub:hover .tooltip::before {
//     background: #333333;
//     color: $white-color;
// }

// .item-CodePen:hover,
// .item-CodePen:hover .tooltip,
// .item-CodePen:hover i,
// .item-CodePen:hover .tooltip::before {
//     background-color: #131417;
//     color: white;
// }