@import '../../common/colors.scss';

.experience {

    &-wrapper {
        position: relative;
        display: grid;
    }

    &-tabs {
        // display: flex;
        // gap: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // margin-bottom: 10px;
        
        span {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 10px;
            transition: all 0.2s ease-in;
            // -webkit-box-shadow: inset -6px -4px 7px -4px rgba(0,0,0,0.75);
            // -moz-box-shadow: inset -6px -4px 7px -4px rgba(0,0,0,0.75);
            // box-shadow: inset -6px -4px 7px -4px rgba(0,0,0,0.75);
            &:hover {
                // background-color: $secondary-color;
                // color: white;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

    &-body {
        grid-column: 1;
        grid-row: 1;
        padding: 10px 10px;
        opacity: 0;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        .title {
            font-weight: 500;
            display: block;
            font-size: 18px;
        }

        .duration {
            font-weight: 500;
            color: $sub-text-color;
            font-size: 13px;
        }

        .role-description {
           
            margin-top: 10px;

            &-item {
                font-size: 16px;
            }
        }
    }
}

.active-tab {
    background-color: $highlight-color;
    color: white;
    box-shadow: none;
    // border-bottom: 4px solid $primary-color;
}

.active-slide {
    opacity: 1;
}