*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.show-element {
  display: block;
}

.show-inline-element {
  display: inline-block;
}

.hide-element {
  display: none;
}

.small-heading {
  font-size: 20px;
}

.big-heading {
  font-size: 50px;
}