$primary-color: #2196f3;
// $primary-color: #edf5e1;
// $primary-color: #013870ff;
$background-color-primay: whitesmoke;
// $background-color-primay: #01e08f;
$secondary-color: #141c3aff;
// $secondary-color: #6495ED;
// $secondary-color: $primary-color;
// $secondary-color: #eee;

// $secondary-color:#1a242f;
// $secondary-color: #272727;
$secondary-text-color: #ffffff;
// #f6c453 #fefbe9 #f0a04b # 183a1d #e1eedd